{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'js/userList.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%">Id</th>
        <th scope="col" style="width: 15%">Nombre de usuario</th>
        <th scope="col" style="width: 15%">colaborador</th>
        <th scope="col" style="width: 30%">correo</th>
        <th scope="col" style="width: 10%">Fecha ingreso</th>
        <th scope="col" style="width: 10%">Opciones</th>
{% endblock %}

{% block rows %}
{% endblock %}
