{% extends 'list.html' %}

{% load static %}

{% block content %}

    {% csrf_token %}

    <div class="card card-outline card-success">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label }}: </label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" id="btn_query" class="btn btn-success"><i class="fas fa-folder-open"></i>
                Consultar
            </button>
            <a href="{{ list_url }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
        </div>
    </div>

    <!-- /.card-body -->

{% endblock %}

{% block js %}

    <!-- Modal -->
    <div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fab fa-slack"></i> {{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table  table-bordered" id="tableInfoIndexado">
                        <thead>
                        <tr>
                            <th scope="col">Colaborador</th>
                            <th scope="col">Seccion</th>
                            <th scope="col">Tipo documento</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Fecha Documento</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Tipo Contrato</th>
                            <th scope="col">Estado</th>
                            <th scope="col">File</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/modal_query.js' %}"></script>

{% endblock %}