{% extends 'body.html' %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if title == 'expedientes' %}
                        <P>Ingreso masivo de expedientes</P>
                    {% elif title == 'actualizacion' %}
                        <P>Actualizacion Masiva</P>
                    {% endif %}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <label>Seleccionar Data</label>
                    <input type="file" class="form-control" name="xlsfile">
                    <label>Seleccionar archivos {{ form.label }}</label>
                    {{ form }}
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                <a href="{{ list_url }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
            </div>
        </div>

    </form>

{% endblock %}