{% extends 'body.html' %}

{% load static %}
{% block head %}
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
{% endblock %}



{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'expedientes' %}
                        {{ title }}
                        <input type="hidden" name="action" value="{{ action }}">
                    {% elif action == 'actualizacion' %}
                        {{ title }}
                        <input type="hidden" name="action" value="{{ action }}">
                    {% endif %}
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <label>Seleccionar archivo Excel: </label>
                    <input type="file" class="form-control" name="xlsfile">
                    <label>Seleccionar archivos {{ form.label }}</label>
                    {{ form }}
                    {% if action == 'actualizacion' %}
                        <label>Seccion: </label>
                        {{ mForm.Secciones }}
                        <label>Documento: </label>
                        {{ mForm.Documentos }}
                    {% endif %}
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                <a href="{{ list_url }}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
            </div>
        </div>

    </form>

    <script>
        var select_documento = $('select[name="Documentos"]');
        $(function () {

            $('.select2').select2({
                theme: "bootstrap4",
                language: 'es'
            });

            $('select[name="Secciones"]').on('change', function () {
                var id = $(this).val();
                var options = '<option value="">----------</option>';
                if (id === '') {
                    select_documento.html(options);
                    return false;
                }
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_section_id',
                        'id': id
                    },
                    dataType: 'json',
                }).done(function (data) {
                    if (!data.hasOwnProperty('error')) {
                        select_documento.html('').select2({
                            theme: "bootstrap4",
                            language: 'es',
                            data: data
                        });
                        return false;
                    }
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                    //select_products.html(options);
                });
            });
        });
    </script>


{% endblock %}

