{% extends 'list.html' %}

{% block columns %}

<tr>
<tr>
    <th scope="col">Nombre</th>
    <th scope="col">Seccion</th>
    <th scope="col">Oopciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for d in object_list %}
    <tr>
        <td>{{ d.nombre }}</td>
        <td>{{ d.seccion }}</td>
        <td>
            <a href="{% url 'RRHH:documento_edit' d.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="{% url 'RRHH:documento_delete' d.id %}" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
{% endfor %}

{% endblock %}

