# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\entornos\projectsdjango\administracion_rrhh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
